include includes/mixins

+head("Driving Force")

body#top.story-nav(data-spy='scroll',data-target='.subnav',data-offset='80')

	include sections/navbar
	
	article
		section.container.story-header
			div.row
				div.col-md-6
					figure
						a.enlarge(href="photos/driving_force/drivingforce_3439.jpg", rel="enlarge")
							img.img-responsive(src="photos/driving_force/drivingforce_3439.jpg")
						figcaption.credit Zach Wise
						figcaption 
							| The Camero started dragging it's parachute before lining up for its first run in the time trials. Parachutes are needed in the Pro-Mod class in order to help the car slow down before reaching the end of the drag strip. Cars unable to stop in time and landing in the river at the end of the strip are a yearly occurrence.
					h1.extra-large.align-right.text-italic(style="font-weight:900;") Driving Force 
						small.text-normal Dragracing in the farmlands of Ohio.
					p.lead.align-right
						| The smell of alcohol and bubble gum clear your sinuses and distract your ears from the roaring motors as you approach the Kanawha Valley Dragway Park.
					p.byline.align-right by Zach Wise

					p <span class="dropcap">D</span>riving along State Route 35 you pass Point Pleasant, WV and enter farm country running along an Ohio River tributary near the West Virginia border to Ohio. Farm houses, horse barns and a feed supply are scattered every 1/2 mile or so along 35 until you almost pass a sign that says “Kanawha Valley Dragway Park: Drag Racing Every Saturday Night.”
					figure.figure-pull-left
						a.enlarge(href="photos/driving_force/drivingforce_3424.jpg", rel="enlarge")
							img.img-responsive(src="photos/driving_force/drivingforce_3424.jpg")
						figcaption.credit Zach Wise
					p It is an odd sight, to say the least, to stumble upon a 1/8th mile drag raceway in the middle of corn fields but then again nothing should seem as natural as to expect this to be the perfect place for a Dragpark. Generations of the families in the region have grown up learning how to fix tractors, bailers, trucks, and family cars. The very livelihood of many of the families in this valley is dependent on the knowledge bestowed from generation to generation on the fickle nature of the combustion engine. Motors are needed to harvest the crops, deliver the crops, fetch groceries and in fierce winters, to provide electricity. It is only natural to want to prove this knowledge superior to anyone else’s and to get a few thrills out of it. The location of the Dragway Park seems perfect.
					p Lorem velese feugait prat. Ci bla consequi tat, sed ming et, volorer iril incil eugiam velenissi tio dolum del ulla faci blandrem alit lam, quam, quisi tiniam zzriusto dolorem dolore dunt am, quam dolestie te tinis eugueri liquis niamcon sequip el irillam nulluptate dolore dunt autem nos adiat, quisl utem autpat lore tat ad estrud et, sim in utet, si tio euipit nos atem vel utpat doloreet nit et euisim dolutatue dit lore dunt utat, quamet ipisl utpat. Ut lore feu faciliquat amcon ut utpat. Ecte dit nummy niat at. Ut alis nostrud magna facidui scipis aut ad tis ea feugiam, quat.
					blockquote
						p $100 to enter the race plus the cost of  fuel, 1st place wins a hundred bucks, so it's not about the money.
						cite Larry McFee
					p Sandre tatum ing enim vel ipit er sequam verit aut verit utet velit, conse minim dunt eu faccum vel dolortie tet, quisl utpat. Ut ullam accum quamet autet augait esequate dolor se dolobortis elisl inisl diam, velesectet ad et lamconu llaorpero consed dolore estincipit lut amet vel dolesto enibh eratis dipsums andiat, consequis nullaor at, cor summolu tatuerosto dunt num zzriureetum nit nos nit luptate doluptat. Rilisit nos acin euipit alit, sim eugue feum ipiscilit laore cor aliquisis aciduip sustrud tie eu facinci ncillaore

				
				div.col-md-6
					figure
						a.enlarge(href="photos/driving_force/drivingforce_3508.jpg", rel="enlarge")
							img.img-responsive(src="photos/driving_force/drivingforce_3508.jpg")
						figcaption.credit Zach Wise
						figcaption 
							| The Race is The first few seconds of a drag race a crucial, to make sure the car doesn't spin out on the starting line the drivers spin their tires on their approach to the starting line. Spinning, or smoking the tires melts the surface of the tires so that it becomes sticky, preventing spin-outs at the green light.
					figure
						a.enlarge(href="photos/driving_force/drivingforce_3549.jpg", rel="enlarge")
							img.img-responsive(src="photos/driving_force/drivingforce_3549.jpg")
						figcaption.credit Zach Wise
						figcaption 
							| Jacob Holstein is competing in the Jr. class. The Jr. rails (drag car) are equipped with a 5 horsepower motor but are capable of an excess of 80 mph. Jacob's father, Clair, is also competing at the dragway even though he has recently had a stroke.
					figure
						a.enlarge(href="photos/driving_force/drivingforce_3591.jpg", rel="enlarge")
							img.img-responsive(src="photos/driving_force/drivingforce_3591.jpg")
						figcaption.credit Zach Wise
						figcaption 
							| Keith McFee helps his father, Larry McFee, load up his custom built camero after losing in the first round. Several months ago Larry had a heart attack on the drag strip. Having recovered and given the OK from his doctor Larry was soon back in the points race

	include sections/footer