include includes/mixins

+head("Picture Story")
	script(type='text/javascript').
		var is_index = true;

body#top(data-spy='scroll',data-target='.subnav',data-offset='80')

	+navbar(false)

	// STORY COVER
	section#story-cover
		div.story-cover-image(style="background-image: url('css/triangular.png');background-repeat:repeat;background-size:auto;")
		div.story-cover-arrow
		div.story-cover-content
			h1 Picture Story
			p.lead Template system built on Bootstrap to tell picture stories.
	section.story-cover-caption
		div.caption
			| 
	article.lazyload
		div.container-fluid
			div.row
				div.col-md-3

				div.col-md-6
					p.lead Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
					p Em dolenisi erit il ea amet, consequat. Duipis dunt dolenis nos nulput aut aciduisi tatet, cor adipsummod magna feum vullaoreetue core volor irit alismolummy non ea core doluptate te magna commy nissisc illandignim zzriusto et, qui etum ilit wis nit dolobortis estie conulla mconsectem verostie corper secte do dolobore exerilla adit eu facipis nonsequatis acipit luptate feugiam, conse del ilis nos nonsecte velendiatie tem incip exer sum dunt et lortie vullaorem in vel ullam, siscin ea adit adiat er se modolorer sismod do odiamcore velisi.
					p Em dolenisi erit il ea amet, consequat. Duipis dunt dolenis nos nulput aut aciduisi tatet, cor adipsummod magna feum vullaoreetue core volor irit alismolummy non ea core doluptate te magna commy nissisc illandignim zzriusto et, qui etum ilit wis nit dolobortis estie conulla mconsectem verostie corper secte do dolobore exerilla adit eu facipis nonsequatis acipit luptate feugiam, conse del ilis nos nonsecte velendiatie tem incip exer sum dunt et lortie vullaorem in vel ullam, siscin ea adit adiat er se modolorer sismod do odiamcore velisi.
				

				div.col-md-3
			div.row
				div.col-md-3

				div.col-md-6
					p.lead Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
					p Em dolenisi erit il ea amet, consequat. Duipis dunt dolenis nos nulput aut aciduisi tatet, cor adipsummod magna feum vullaoreetue core volor irit alismolummy non ea core doluptate te magna commy nissisc illandignim zzriusto et, qui etum ilit wis nit dolobortis estie conulla mconsectem verostie corper secte do dolobore exerilla adit eu facipis nonsequatis acipit luptate feugiam, conse del ilis nos nonsecte velendiatie tem incip exer sum dunt et lortie vullaorem in vel ullam, siscin ea adit adiat er se modolorer sismod do odiamcore velisi.
					p Em dolenisi erit il ea amet, consequat. Duipis dunt dolenis nos nulput aut aciduisi tatet, cor adipsummod magna feum vullaoreetue core volor irit alismolummy non ea core doluptate te magna commy nissisc illandignim zzriusto et, qui etum ilit wis nit dolobortis estie conulla mconsectem verostie corper secte do dolobore exerilla adit eu facipis nonsequatis acipit luptate feugiam, conse del ilis nos nonsecte velendiatie tem incip exer sum dunt et lortie vullaorem in vel ullam, siscin ea adit adiat er se modolorer sismod do odiamcore velisi.
				

				div.col-md-3
			div.row
				div.col-md-3

				div.col-md-6
					p.lead Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
					p Em dolenisi erit il ea amet, consequat. Duipis dunt dolenis nos nulput aut aciduisi tatet, cor adipsummod magna feum vullaoreetue core volor irit alismolummy non ea core doluptate te magna commy nissisc illandignim zzriusto et, qui etum ilit wis nit dolobortis estie conulla mconsectem verostie corper secte do dolobore exerilla adit eu facipis nonsequatis acipit luptate feugiam, conse del ilis nos nonsecte velendiatie tem incip exer sum dunt et lortie vullaorem in vel ullam, siscin ea adit adiat er se modolorer sismod do odiamcore velisi.
					p Em dolenisi erit il ea amet, consequat. Duipis dunt dolenis nos nulput aut aciduisi tatet, cor adipsummod magna feum vullaoreetue core volor irit alismolummy non ea core doluptate te magna commy nissisc illandignim zzriusto et, qui etum ilit wis nit dolobortis estie conulla mconsectem verostie corper secte do dolobore exerilla adit eu facipis nonsequatis acipit luptate feugiam, conse del ilis nos nonsecte velendiatie tem incip exer sum dunt et lortie vullaorem in vel ullam, siscin ea adit adiat er se modolorer sismod do odiamcore velisi.
				

				div.col-md-3

	+footer()
