include includes/mixins

+head("The Pumpkin Queen")

body#top(data-spy='scroll',data-target='.subnav',data-offset='80')

	// NAVBAR NAVIGATION
	include sections/navbar 
	// END NAVBAR
	
	// Large image in Outside Grid
	article
		section.full-width
			figure
				img.img-responsive(src="photos/pumpkin_queen/pumpkin_8364.jpg")
				figcaption.credit Photographer Name
				figcaption 
					| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, 
					| id pulvinar odio lorem non turpis. Nullam sit amet enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.

		section.container
			div.row
				div.col-md-7
					h1.extra-large.align-right Circleville's Annual Pumpkin Show
						small crowns Courtney Congrove Pumpkin Queen for 2005
				div.col-md-5
					figure
						a.enlarge(href="photos/pumpkin_queen/pumpkin_8314.jpg", rel="enlarge")
							img.img-responsive(src="photos/pumpkin_queen/pumpkin_8314.jpg")
						figcaption.credit Zach Wise
						figcaption 
							| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, 
							| id pulvinar odio lorem non turpis. Nullam sit amet enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
			div.row
				div.col-md-2
				


				
				div.col-md-5
				
					p.lead Local sheriff’s deputies from Circleville and surrounding counties struggle to hold their ground against the crowd of high school students that are pushing, pressing, falling, and storming the main stage.

					p This is not a rock concert, or a political event protest. This is the annual Miss Pumpkin Show competition held at the Circleville Pumpkin show. 
					figure.figure-pull-left
						a.enlarge(href="photos/pumpkin_queen/pumpkin_8170.jpg", rel="enlarge")
							img.img-responsive(src="photos/pumpkin_queen/pumpkin_8170.jpg")
						figcaption.credit Zach Wise
					p The Pumpkin Show has been an annual event in Circleville since 1903. The event started as a way to show the talents of local growers by the Mayor of Circleville, George R. Haswell.  The event has grown in size over the years. What started out as a small town exhibit has now become the sixth largest festival in the United States that claims over 300,000 in annual  attendance. The first recorded Miss Pumpkin Show competition was held in 1933 and has been held every year since. 
					p This year’s winner was Courtney Congrove. Many fans from Courtney’s Zane Trace high school supported her by wearing green t-shirts that read, “Courtney, Our pick of the patch.”
					p When the judges announced Congrove as this year’s Pumpkin Queen, she said, “I just looked out to my family and just waved and said it’s all because of them.”
				
				div.col-md-4
					figure
						a.enlarge(href="photos/pumpkin_queen/pumpkin_8386.jpg", rel="enlarge")
							img.img-responsive(src="photos/pumpkin_queen/pumpkin_8386.jpg")
						figcaption.credit Zach Wise
						figcaption 
							| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, 
							| id pulvinar odio lorem non turpis. Nullam sit amet enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
					figure
						a.enlarge(href="photos/pumpkin_queen/pumpkin_8179.jpg", rel="enlarge")
							img.img-responsive(src="photos/pumpkin_queen/pumpkin_8179.jpg")
						figcaption.credit Zach Wise
						figcaption 
							| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, 
							| id pulvinar odio lorem non turpis. Nullam sit amet enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
					figure
						a.enlarge(href="photos/pumpkin_queen/pumpkin_8175.jpg", rel="enlarge")
							img.img-responsive(src="photos/pumpkin_queen/pumpkin_8175.jpg")
						figcaption.credit Zach Wise
						figcaption 
							| Fans of Tia Jean Crist wore Burger King crowns adorned with sparkling letters that say "Tia 4 Queen."

	include sections/footer
