include includes/mixins

+head("Veterens Day")

body#top(data-spy='scroll',data-target='.subnav',data-offset='80')
	+navbar(false)
	
	article
		section.container
			div.row
				div.col-md-8
					div.row
						div.col-md-12
							figure
								a.enlarge(href="photos/veterans/vet_9789.jpg", rel="enlarge")
									img.img-responsive(src="photos/veterans/vet_9789.jpg")
								figcaption.credit Zach Wise
								figcaption 
									| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, 
									| id pulvinar odio lorem non turpis. Nullam sit amet enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
				div.col-md-4

					h1.extra-large.align-left Veteran's Day
					p.lead Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis.
					p Sandre tatum ing enim vel ipit er sequam verit aut verit utet velit, conse minim dunt eu faccum vel dolortie tet, quisl utpat. Ut ullam accum quamet autet augait esequate dolor se dolobortis elisl inisl diam, velesectet ad et lamconu llaorpero consed dolore estincipit lut amet vel dolesto enibh eratis dipsums andiat, consequis nullaor at, cor summolu tatuerosto dunt num zzriureetum nit nos nit luptate doluptat. Rilisit nos acin euipit alit, sim eugue feum ipiscilit laore cor aliquisis aciduip sustrud tie eu facinci ncillaore
				
			div.row
				div.col-md-12
					div.row
						div.col-md-4
							figure
								a.enlarge(href="photos/veterans/vet_9633.jpg", rel="enlarge")
									img.img-responsive(src="photos/veterans/vet_9633.jpg")
								figcaption.credit Photographer Name
								figcaption 
									| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, 
									| id pulvinar odio lorem non turpis. Nullam sit amet enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
						div.col-md-4
							figure
								a.enlarge(href="photos/veterans/vet_9803.jpg", rel="enlarge")
									img.img-responsive(src="photos/veterans/vet_9803.jpg")
								figcaption.credit Photographer Name
								figcaption 
									| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, 
									| id pulvinar odio lorem non turpis. Nullam sit amet enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
						div.col-md-4
							figure
								a.enlarge(href="photos/veterans/vet_9824.jpg", rel="enlarge")
									img.img-responsive(src="photos/veterans/vet_9824.jpg")
								figcaption.credit Photographer Name
								figcaption Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque,
					div.row
						div.col-md-8.col-md-offset-2
							p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
							p Em dolenisi erit il ea amet, consequat. Duipis dunt dolenis nos nulput aut aciduisi tatet, cor adipsummod magna feum vullaoreetue core volor irit alismolummy non ea core doluptate te magna commy nissisc illandignim zzriusto et, qui etum ilit wis nit dolobortis estie conulla mconsectem verostie corper secte do dolobore exerilla adit eu facipis nonsequatis acipit luptate feugiam, conse del ilis nos nonsecte velendiatie tem incip exer sum dunt et lortie vullaorem in vel ullam, siscin ea adit adiat er se modolorer sismod do odiamcore velisi.
				
					div.row
						div.col-md-12
							figure
								a.enlarge(href="photos/veterans/vet_9658.jpg", rel="enlarge")
									img.img-responsive(src="photos/veterans/vet_9658.jpg")
								figcaption.credit Photographer Name
								figcaption 
									| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, 
									| id pulvinar odio lorem non turpis. Nullam sit amet enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
					div.row
						div.col-md-8.col-md-offset-2
							p Iriure dolorem ipsustrud te mincipit nos nulla feum velenia mcoreros nis alis nit vulputem qui ex essit, vullam irilit augiam ipsusciduis dit prat loreet et, volorem quipisi.
							p Atiscilla adip er in utpat. Duis erat, sequipit prat, vulputatum doloreet do eugueros nonse magnit duisseq uissit dip ercilisi.
							p Adigna faccumm oloboreet at vel utat wisim zzril ulput in et lute eu feu facillum exeriliquam dolute ex eliquis auguerostrud te dolobore dolorer aestie faEx ex eros et acillum nim vel dolore dolore dolore digna faccumsan exeros nit vulputet utatin vel euis nim estrud elit nullan henis ad dolorer si.
							p Ulla feugiat. Issequis dolor alit, seniat lore conullam eum dignibh exeraesenit velent prat.
							p Ro dolut prat incilit nibh enim ad eummodio odolore facing eugiam quat vel esequat. Tie tionseq uismolore volore eril dunt. auguerUt. ing etum quam, quamconUllam, velenimObore te dit ver senis augait aliscincipit alisi bla facilla metuer iriuscipit luptat ad

		+footer()