include includes/mixins

+head("Walkthru")

body(data-spy='scroll',data-target='.subnav',data-offset='80')
	section.container.show-grid
		div.row
			div.col-md-12
				p 12 column
		div.row
			div.col-md-6
				p 6 column
				div.row
					div.col-md-6
						p 6 column
						div.row
							div.col-md-6
								p 6 column
							div.col-md-6
								p 6 column
					div.col-md-6
						p 6 column
			div.col-md-6
				p 6 column
		div.row
			div.col-md-3
				p 3 column
			div.col-md-3
				p 3 column
			div.col-md-3
				p 3 column
			div.col-md-3
				p 3 column