include ../includes/mixins

+head("In Lucille's Hands", true)

body#top(data-spy='scroll',data-target='.subnav',data-offset='80')

	+navbar(true)

	// STORY COVER
	section#story-cover
		div.story-cover-image(style="background-image: url('../photos/luhands/Lusteps.jpg');")
		div.story-cover-arrow
		div.story-cover-content
			h1 In Lucille's Hands
			p.lead Most seniors by the age of 81 are living in nursing homes, but Lucille Caravette is holding her own.
			p.byline by MARTINE GRANBY
			p.byline Photographs by MARTINE GRANBY
	section.story-cover-caption
		div.caption
			|  Lucille Caravette relects on life while looking at the wall of her 14 children.
	article.lazyload
		
		include source/luhands.html

	+footer(true)
