include ../includes/mixins

+head("Back To Work", true)

body#top(data-spy='scroll',data-target='.subnav',data-offset='80')

	+navbar(true)

	// STORY COVER
	section#story-cover.story-cover
		div.story-cover-image(style="background-image: url('../photos/postprison/ncpweb-12.jpg');")
		div.story-cover-arrow
		div.story-cover-content
			h1 Back To Work
			p.lead 
			p.byline by SCOTT THOMAS
			p.byline Photographs by SCOTT THOMAS
	section.story-cover-caption
		div.caption
			|  Donald Gatewood, shift supervisor, and Keith Walker, Neighborhood Cleanup Project member, get ready for a shift cleaning up the vacant alleys on Chicago's South Side Thursday. 
	article.lazyload
		
		include source/postprison.html

	+footer(true)
