include ../includes/mixins

+head("Veteren's Day", true)

body#top(data-spy='scroll',data-target='.subnav',data-offset='80')

	+navbar(true)

	// STORY COVER
	section#story-cover
		div.story-cover-image(style="background-image: url('../photos/veterans/vet_9658.jpg');")
		div.story-cover-arrow
		div.story-cover-content
			h1 Veteran's Day
			p.lead 
			p.byline by Zach Wise
			p.byline Photographs by Zach Wise
	section.story-cover-caption
		div.caption
			| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, 
			| id pulvinar odio lorem non turpis. Nullam sit amet enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
	article.lazyload
		section.container-fluid

			div.row
				div.col-md-3

				div.col-md-6
					p.lead Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, id pulvinar odio lorem non turpis. Nullam sit amet enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
					p Em dolenisi erit il ea amet, consequat. Duipis dunt dolenis nos nulput aut aciduisi tatet, cor adipsummod magna feum vullaoreetue core volor irit alismolummy non ea core doluptate te magna commy nissisc illandignim zzriusto et, qui etum ilit wis nit dolobortis estie conulla mconsectem verostie corper secte do dolobore exerilla adit eu facipis nonsequatis acipit luptate feugiam, conse del ilis nos nonsecte velendiatie tem incip exer sum dunt et lortie vullaorem in vel ullam, siscin ea adit adiat er se modolorer sismod do odiamcore velisi.
					p Em dolenisi erit il ea amet, consequat. Duipis dunt dolenis nos nulput aut aciduisi tatet, cor adipsummod magna feum vullaoreetue core volor irit alismolummy non ea core doluptate te magna commy nissisc illandignim zzriusto et, qui etum ilit wis nit dolobortis estie conulla mconsectem verostie corper secte do dolobore exerilla adit eu facipis nonsequatis acipit luptate feugiam, conse del ilis nos nonsecte velendiatie tem incip exer sum dunt et lortie vullaorem in vel ullam, siscin ea adit adiat er se modolorer sismod do odiamcore velisi.
				

				div.col-md-3

			div.row
				div.col-md-3
				div.col-md-6
					figure
						a.enlarge(href="../photos/veterans/vet_9789.jpg", rel="enlarge")
							img.img-responsive(src="../photos/transparent.gif", data-src="../photos/veterans/vet_9789.jpg")
						figcaption.credit Zach Wise
						figcaption 
							| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, 
							| id pulvinar odio lorem non turpis. Nullam sit amet enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.

				div.col-md-3

			div.row
				div.col-md-3

				div.col-md-6

					p Em dolenisi erit il ea amet, consequat. Duipis dunt dolenis nos nulput aut aciduisi tatet, cor adipsummod magna feum vullaoreetue core volor irit alismolummy non ea core doluptate te magna commy nissisc illandignim zzriusto et, qui etum ilit wis nit dolobortis estie conulla mconsectem verostie corper secte do dolobore exerilla adit eu facipis nonsequatis acipit luptate feugiam, conse del ilis nos nonsecte velendiatie tem incip exer sum dunt et lortie vullaorem in vel ullam, siscin ea adit adiat er se modolorer sismod do odiamcore velisi.
					p Em dolenisi erit il ea amet, consequat. Duipis dunt dolenis nos nulput aut aciduisi tatet, cor adipsummod magna feum vullaoreetue core volor irit alismolummy non ea core doluptate te magna commy nissisc illandignim zzriusto et, qui etum ilit wis nit dolobortis estie conulla mconsectem verostie corper secte do dolobore exerilla adit eu facipis nonsequatis acipit luptate feugiam, conse del ilis nos nonsecte velendiatie tem incip exer sum dunt et lortie vullaorem in vel ullam, siscin ea adit adiat er se modolorer sismod do odiamcore velisi.
				
					p Quisque facilisis erat a dui. Nam malesuada ornare dolor. Cras gravida, diam sit amet rhoncus ornare, erat elit consectetuer erat, id egestas pede nibh eget odio. Proin tincidunt, velit vel porta elementum, magna diam molestie sapien, non aliquet massa pede eu diam.

				div.col-md-3

			div.row
				div.col-md-1

				div.col-md-5
					figure
						a.enlarge(href="../photos/veterans/vet_9803.jpg", rel="enlarge")
							img.img-responsive(src="../photos/transparent.gif", data-src="../photos/veterans/vet_9803.jpg")
						figcaption.credit Photographer Name
						figcaption 
							| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, 
							| id pulvinar odio lorem non turpis. Nullam sit amet enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.

				div.col-md-5
					figure
						a.enlarge(href="../photos/veterans/vet_9824.jpg", rel="enlarge")
							img.img-responsive(src="../photos/transparent.gif", data-src="../photos/veterans/vet_9824.jpg")
						figcaption.credit Photographer Name
						figcaption Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque

				div.col-md-1

			div.row
				div.col-md-3

				div.col-md-6

					p Em dolenisi erit il ea amet, consequat. Duipis dunt dolenis nos nulput aut aciduisi tatet, cor adipsummod magna feum vullaoreetue core volor irit alismolummy non ea core doluptate te magna commy nissisc illandignim zzriusto et, qui etum ilit wis nit dolobortis estie conulla mconsectem verostie corper secte do dolobore exerilla adit eu facipis nonsequatis acipit luptate feugiam, conse del ilis nos nonsecte velendiatie tem incip exer sum dunt et lortie vullaorem in vel ullam, siscin ea adit adiat er se modolorer sismod do odiamcore velisi.
					p Em dolenisi erit il ea amet, consequat. Duipis dunt dolenis nos nulput aut aciduisi tatet, cor adipsummod magna feum vullaoreetue core volor irit alismolummy non ea core doluptate te magna commy nissisc illandignim zzriusto et, qui etum ilit wis nit dolobortis estie conulla mconsectem verostie corper secte do dolobore exerilla adit eu facipis nonsequatis acipit luptate feugiam, conse del ilis nos nonsecte velendiatie tem incip exer sum dunt et lortie vullaorem in vel ullam, siscin ea adit adiat er se modolorer sismod do odiamcore velisi.
				
					p Quisque facilisis erat a dui. Nam malesuada ornare dolor. Cras gravida, diam sit amet rhoncus ornare, erat elit consectetuer erat, id egestas pede nibh eget odio. Proin tincidunt, velit vel porta elementum, magna diam molestie sapien, non aliquet massa pede eu diam.

				div.col-md-3

			div.row
				div.col-md-2

				div.col-md-8
					figure
						a.enlarge(href="../photos/veterans/vet_9633.jpg", rel="enlarge")
							img.img-responsive(src="../photos/transparent.gif", data-src="../photos/veterans/vet_9633.jpg")
						figcaption.credit Photographer Name
						figcaption 
							| Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi commodo, ipsum sed pharetra gravida, orci magna rhoncus neque, 
							| id pulvinar odio lorem non turpis. Nullam sit amet enim. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
				div.col-md-2

	+footer(true)