// Footer
footer#footer
	div.container
		p.copyright
			| All images &copy; 2014

// JavaScript
script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
script(type='text/javascript', src='../js/project.js?v10')
// Remove this before publish
script(type='text/javascript', src='../js/holder.js')