div.navbar.navbar-default#navbar-story(role="navigation")
	//
		div.navbar-story-navigation
			div.next
				span.icon-chevron-right
			div.prev
				span.icon-chevron-left
	div.row
		div.col-sm-2.col-xs-4
			div.row
				div.col-sm-12
					a.story-item.tall(href="cattleranchers.html")
						div.story-item-background(style="background-image:url('../photos/thumbs/cattleranchers.jpg');")
						div.story-item-container
							div.story-item-content
								h3 Treating Sick Meat
								p Ranchers speak out on misperceptions about over-use of antibiotics in cattle.
								p.byline Photographs by ELISSA NADWORNY

		div.col-sm-6.col-xs-8
			div.row.row-with-trim
				div.col-sm-4.col-xs-4
					a.story-item(href="lashonda.html")
						div.story-item-background(style="background-image:url('../photos/thumbs/lashonda.jpg');")
						div.story-item-container
							div.story-item-content
								h3 Walking with LaShonda
								p A Day in the Life of a student on the West Side
								p.byline by CHRISTINA CALA
				div.col-sm-4.col-xs-4
					a.story-item(href="http://class.medill.co/490/assignments/personality/ThePumpkinQueen/")
						div.story-item-background(style="background-image:url('../photos/thumbs/pumpkin_queen.jpg');")
						div.story-item-container
							div.story-item-content
								h3 Mortician Man
								p Inside the Cadaver Lab at the U.S. Military's Only Medical School
								p.byline by Homa Bash
				div.col-sm-4.col-xs-4
					a.story-item(href="http://class.medill.co/490/assignments/personality/ThePumpkinQueen/")
						div.story-item-background(style="background-image:url('../photos/thumbs/pumpkin_queen.jpg');")
						div.story-item-container
							div.story-item-content
								h3 Mortician Man
								p Inside the Cadaver Lab at the U.S. Military's Only Medical School
								p.byline by Homa Bash

			div.row
				div.col-sm-4.col-xs-4
					a.story-item(href="http://class.medill.co/490/assignments/personality/ThePumpkinQueen/")
						div.story-item-background(style="background-image:url('../photos/thumbs/cattleranchers.jpg');")
						div.story-item-container
							div.story-item-content
								h3 Mortician Man
								p Inside the Cadaver Lab at the U.S. Military's Only Medical School
								p.byline by Homa Bash
				div.col-sm-4.col-xs-4
					a.story-item(href="http://class.medill.co/490/assignments/personality/ThePumpkinQueen/")
						div.story-item-background(style="background-image:url('../photos/thumbs/cattleranchers.jpg');")
						div.story-item-container
							div.story-item-content
								h3 Mortician Man
								p Inside the Cadaver Lab at the U.S. Military's Only Medical School
								p.byline by Homa Bash
				div.col-sm-4.col-xs-4
					a.story-item(href="http://class.medill.co/490/assignments/personality/ThePumpkinQueen/")
						div.story-item-background(style="background-image:url('../photos/thumbs/cattleranchers.jpg');")
						div.story-item-container
							div.story-item-content
								h3 Mortician Man
								p Inside the Cadaver Lab at the U.S. Military's Only Medical School
								p.byline by Homa Bash

		div.clearfix.visible-xs
			
		div.col-sm-2.col-xs-6
			div.row
				div.col-sm-12
					a.story-item.tall(href="http://class.medill.co/490/assignments/personality/ThePumpkinQueen/")
						div.story-item-background(style="background-image:url('../photos/thumbs/farm.jpg');")
						div.story-item-container
							div.story-item-content
								h3 Mortician Man
								p Inside the Cadaver Lab at the U.S. Military's Only Medical School
								p.byline by Homa Bash
		div.col-sm-2.col-xs-6
			div.row
				div.col-sm-12
					a.story-item.tall(href="jackie.html")
						div.story-item-background(style="background-image:url('../photos/thumbs/jackie.jpg');")
						div.story-item-container
							div.story-item-content
								h3 Raising the Bar
								p A Chicago teen sets high expectations for herself and her new family before graduation
								p.byline by MONIKA WNUK
	




