div#navbar-product.navbar.navbar-default(role="navigation")
	div.container-fluid
		
		div.navbar-header
			
			button.navbar-toggle(type="button", data-toggle="collapse", data-target="#product-navbar-collapse")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar

			//a#title-bar-title(href="#top")
				//img.knightlab-logo(src="css/knightlab-logo-diamond-190.png")
				//img.knightlab-logo(src="css/kngihtlab-logo-NOtagline.png")
				//img.knightlab-logo(src="http://cdn.knightlab.com/libs/blueline/latest/assets/logos/logo_horizontal_NOtagline_615x205_transparent_padded.png")
				//| Picture Story

		div.collapse.navbar-collapse.navbar-left#product-navbar-collapse
			ul.nav.navbar-nav
				
				li.dropdown
					a.dropdown-toggle.navbar-brand-knightlab(href="#", data-toggle="dropdown")
						| Picture Story
						b.caret
					ul.dropdown-menu
						li
							div.container.about-knightlab
								div.row
									div.col-sm-12
										h3 About Picture Story
										p Bootstrap templating system for photo layouts. For use in Medill photojournalism classes.
										div.btn-group

											a.btn.btn-default(href="https://github.com/NUKnightLab/Picture-Story/archive/master.zip")
												span.glyphicon.glyphicon-save(style="margin-right:5px;")
												| Download the Template
											a.btn.btn-default(href="https://github.com/NUKnightLab/Picture-Story")
												span.icon-github(style="margin-right:5px;")
												| GitHub
				
								
				//li.divider-vertical
				li
					a#stories-btn(href="#")
						span.icon-stack(style="margin-right:5px;")
						| More Stories
				
				li#navbar-title
					| Picture Story
					
				
		div.collapse.navbar-collapse.navbar-right
			ul.nav.navbar-nav
				//
					li
						button.btn.btn-default.dropdown-toggle(data-toggle="dropdown")
							img.knightlab-logo(src="css/kngihtlab-logo-NOtagline.png")
							span.caret
						
				li
					a.knightlab-logo(href="http://knightlab.northwestern.edu/",target="_blank", title="Knight Lab")
						//img.knightlab-logo(src="css/knightlab-logo-diamond-190.png")
						img.img-responsive(src="../css/KnightLab-Diamond-Logo-Stroke.png")
						
				//
					li.dropdown
						a.dropdown-toggle.knightlab-logo(href="#", data-toggle="dropdown")
							//img.knightlab-logo(src="css/knightlab-logo-diamond-190.png")
							img(src="../css/KnightLab-Diamond-Logo-Stroke.png")
							b.caret
				
					
						ul.dropdown-menu
							li
								div.container.about-knightlab
									div.row
										div.col-md-8
											p The <a title="Northwestern University" href="http://www.northwestern.edu/" target="_blank">Northwestern University</a> Knight Lab is a team of technologists and journalists working at advancing news media innovation through exploration and experimentation.
											p A joint initiative of the <a href="http://www.mccormick.northwestern.edu/" target="_blank">Robert R. McCormick School of Engineering and Applied Science</a> and the<a href="http://www.medill.northwestern.edu/" target="_blank"> Medill School of Journalism, Media, Integrated Marketing Communications</a>.
										div.col-md-4
											h3 Learn More
											ul.list-unstyled
												li
													a(href="http://knightlab.northwestern.edu/about/", target="_blank") About Knight Lab
												li
													a(href="http://projects.knightlab.com/", target="_blank") View our projects
												li
													a(href="http://knightlab.northwestern.edu/news/", target="_blank") Latest News
												li
													a(href="http://knightlab.northwestern.edu/events/", target="_blank") Upcoming Events
												li
													a(href="https://twitter.com/knightlab", target="_blank") <i class="icon-twitter"></i>@knightlab
												
		

		
		
		
