// NAVBAR
//div.subnav.navbar.navbar-inverse(role="navigation")
div.subnav.navbar.navbar-quiet(role="navigation")
	// Navbar Links etc
	ul.nav.navbar-nav
		li.active
			a(href="#") Link 1
		li
			a(href="#myCarousel") Carousel
		li
			a(href="#") Link 3
		li.divider
		li
			a(href="#") Link 4
		li
			a(href="#") Link 5
	ul.nav.navbar-nav.navbar-right
		li
			a(href="#") Action 1
		li
			a(href="#") Action 2
		li.divider
		li
			a(href="#") Action 3
// END NAVBAR