p {
	margin-bottom:20px;
	&.lead {
		font-weight:300;
		font-family:@font-family-sans-serif;
	}
}

.text-italic {
	font-style: italic;
}
.text-normal {
	font-style: normal;
}
h1 {
	text-align:center;
	margin-top:50px;
	font-size: (@font-size-base * 3);
	line-height:(@font-size-base * 3.5);
	text-transform: uppercase;
	margin-bottom: 30px;
	font-weight:900;
	color:@gray-darker;
	small {
		display:block;
	}
	&.extra-large {
		font-size: (@font-size-base * 4);
		font-weight:900;
		small {
			font-weight:300;
		}
	}
}

span.dropcap {
	float:left;
	font-size:50px;
	line-height:50px;
	margin-top:-5px;
	margin-right:3px;
	color:#333;
	font-weight:700;
}

.byline {
	font-size:0.8em;
	color: @gray-light;
	font-family: @font-family-sans-serif;
}

.copyright {
	text-align:center;
	font-size:12px;
	text-transform: uppercase;
}
.caption {
	.caption();
}

/*	Better Underline Links
================================================== */

.better-underline-links, .better-underline-links-dark, article p, footer p {
	a {
		color: #666;
		-moz-transition: color 200ms ease;
		-o-transition: color 200ms ease;
		-webkit-transition: color 200ms ease;
		transition: color 200ms ease;
		&:hover,
		&:focus {
			color:@link-hover-color;
			text-decoration: none;
		}
	
		text-decoration: none;
		position: relative;
		text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2px, #666666 2px, #666666 3px, rgba(0, 0, 0, 0) 3px);
	}


	@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
		a {
			background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2px, #666666 2px, #666666 2.5px, rgba(0, 0, 0, 0) 2.5px);
			&:hover,
			&:focus {
				background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2px, #66abad 2px, #66abad 3px, rgba(0, 0, 0, 0) 3px);
			}
		}
	}

	@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
		a {
			&:hover,
			&:focus {
				background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2px, #66abad 2px, #66abad 2.5px, rgba(0, 0, 0, 0) 2.5px);
			}
		}
	}
}
.better-underline-links-hover {
	a {
		-moz-transition: color 200ms ease;
		-o-transition: color 200ms ease;
		-webkit-transition: color 200ms ease;
		transition: color 200ms ease;
		&:hover,
		&:focus {
			//color: @theme-color-gold;
			text-decoration: none;
			text-decoration: none;
			position: relative;
			text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
			background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 2px, #666666 2px, #666666 3px, rgba(0, 0, 0, 0) 3px);
		}
	}
}
.better-underline-links-dark {
	a {
		text-decoration: none;
		color: #999;
		text-shadow: -1px -1px 0 #262324, 1px -1px 0 #262324, -1px 1px 0 #262324, 1px 1px 0 #262324;
		background-image: linear-gradient(to top, rgba(0,0,0, 0), rgba(0,0,0, 0) 2px, #999999 2px, #999999 3px, rgba(0, 0, 0, 0) 3px);
	}
	
}

.centered {
	text-align:center;
}
.related {
	font-family: @font-family-sans-serif;
	font-weight:400;
}


@media (min-width: @screen-xs-min) {

	h1 {
		text-align:center;
		margin-top:50px;
		font-size: 42px;
		line-height:48px;
		text-transform: uppercase;
		margin-bottom: 30px;
		font-weight:900;
		color:@gray-darker;
		small {
			display:block;
		}
		&.extra-large {
			font-size: 42px;
			font-weight:900;
			small {
				font-weight:300;
			}
		}
	}
}